{% extends "MapbenderManagerBundle::manager.html.twig" %}



{% block manager_content %}
  <div class="container-fluid">
    <div class="row">
      <form>
        <select id="-fn-connections-list"></select>
      </form>
    </div>
    <div class="row"></div>

  </div>
  <script>
    window.onload = function () {
      $list = $("#-fn-connections-list")
      $.ajax('getConnections').done(function (res) {
        _.each(res,  function (el, ind) {
          $opt = $('<option />').text(el)
           $list.append($opt)
        })
      })
    }
  </script>
{% endblock %}