.mb-element-data-store.modal-body {
  [class^="fa-"]:before, [class*=" fa-"]:before {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  > .mapbender-element-result-table {
    tr[role='row'] > td > div.button-navigation {
      > button {
        &.fa-remove {
        }
        &:before {
          font-family: FontAwesome;
        }
      }
    }
  }
}

// Pop-up dialogs
.ui-dialog {

  > .data-store-edit {
    padding: 10px 10px 0px;
  }

  > .data-store-results {
  }
}
