<div class="elementForm defaultForm elementFormDataStore">
    {% for keyName, val in form.configuration %}
        {{ form_label(val) }}{{ form_widget(val) }}
        <div class="clearContainer"></div>
    {% endfor %}
</div>
